<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Sistema Faculdade</title>
</head>
<body>
    <h1>Sistema Faculdade</h1>

    <nav>
        <a href="{{ url_for('index') }}">Início</a> |
        <a href="{{ url_for('listar_alunos') }}">Alunos</a> |
        <a href="{{ url_for('novo_aluno') }}">Cadastrar Aluno</a>
    </nav>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li><strong>[{{ category }}]</strong> {{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
